header {
  display: flex;
  padding: 15px 360px 15px 360px;
  background-color: #343a40;
  color: #fff;
}

.logo {
  background-image: url("../assets/logo-superior.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px;
}

.header {
  margin-left: 15px;
  margin-bottom: 20px;
}

.title {
  margin-bottom: 6px;
  font-size: 40px;
}

.subtitle {
  font-size: 18px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #b2b2b2;
}

main {
  height: auto;
}
h1 {
  text-align: center;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #333;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 15px 360px 15px 360px;
  background-color: #343a40;
  color: #fff;
  height: 210px;
  font-size: 14px;
}

.left li {
  padding: 6px;
  text-align: left;
  text-decoration: none;
  list-style: none;
}

.center {
  margin-top: 40px;
}

.center li {
  padding: 6px;
  text-align: center;
  text-decoration: none;
  list-style: none;
}

.right {
  margin-top: 20px;
  padding: 4px;
  text-align: right;
  text-decoration: none;
  list-style: none;
}

main {
  padding-right: 200px;
  padding-left: 200px;
}

body {
  background-color: #f8f9fa;
}

.title-page {
  font-size: 50px;
  text-transform: uppercase;
  padding: 30px;
  display: flex;
  justify-content: center;
  color: #000000;
  font-weight: bolder;
  font-size: 30px;
}

.saveBtn {
  margin-top: 50px;
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  margin-top: 50px;
  font-size: 16px;
  text-transform: uppercase;
}

span {
  display: block;
  font-weight: bold;
  font-size: 1.2em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-bottom: 100px;
}

.container h1 {
  font-size: 20px;
}

#steps {
  width: 15%;
}

#steps div {
  display: flex;
  flex-direction: column;
}

#steps span {
  font-size: 15px;
}

#steps .stepActive {
  padding: 15px 15px 15px 15px;
  border: #000 1px solid;
  border-radius: 3px;
  background-color: #ececec;
}

#steps .step {
  border-radius: 3px;
  padding: 15px 15px 15px 15px;
  border: #b1b1b1 1px solid;
  color: #b1b1b1;
  background-color: #ffffff;
}

#options {
  width: 40%;
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#options form {
  width: 90%;
  text-align: left;
  border-radius: 8px;
  border: #727171 2px solid;
  padding: 25px;
  background-color: #ffffff;
}

#options button {
  cursor: pointer;
  border: none;
  background-color: #d8dadb;
  color: #000000;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 20px;
  padding: 0px 20px 0px 0px;
  font-weight: bolder;
}

#options button:hover {
  background-color: #eeeeee;
}

#options label {
  display: flex;
  align-items: center;
}

#options .mdi {
  margin: 20px 35px 20px 20px;
}

#options .saveBtn:hover {
  background-color: #424242;
}

#personalData {
  width: 60%;
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#personalData span {
  font-size: 45px;
  font-weight: bolder;
  text-transform: uppercase;
}

#personalData label {
  font-size: 20px;
  text-align: left;
}
#personalData form {
  text-align: left;
  border-radius: 8px;
  border: #727171 2px solid;
}

#personalData input {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  color: #000;
  display: flex;
  align-items: end;
  border-radius: 6px;
  background-color: #d8dadb77;
}

#personalDataForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#personalDataForm label {
  padding: 10px;
  padding-bottom: 10px;
}

#personalDataForm .firstColumn {
  display: flex;

  flex-direction: column;
  align-items: start;
  padding: 20px 0px 20px 20px;
}

#personalDataForm .secondColumn {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px 10px 20px 0px;
}

#personalDataForm div {
  padding: 10px;
}

#caseFacts {
  width: 50%;
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#caseFacts form {
  width: 90%;
  text-align: left;
  border-radius: 8px;
  border: #727171 2px solid;
  padding: 25px;
  background-color: #ffffff;
}

#caseFacts label {
  font-size: 215px;
  text-align: left;
  font-size: 25px;
}

#caseFacts input,
textarea {
  width: 85%;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  color: #000;
  background-color: #d8dadb;
}

#caseFacts label {
  padding: 20px;
}

#caseFacts input[type="text"],
#caseFacts input[type="date"],
#caseFacts input[type="time"] {
  width: 90%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
}

#caseFacts textarea {
  width: 90%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  resize: vertical;
}

#caseFacts textarea {
  width: 90%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
}

/* .option {
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  font-size: 20px;
} */

/* form {
  display: flex;
  flex-direction: column;
} */
/* .number {
  background-color: #000000;
  padding: 10px;
  border-radius: 100px;
} */
